.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #3b5998;
  margin-bottom: 20px;
  padding: 10px;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}